/* ===== GLOBAL ===== */

body{
margin:0;
font-family:Segoe UI, Arial, sans-serif;
color:white;
overflow-x:hidden;

/* Animated Gradient */
background:linear-gradient(-45deg,#020617,#0f172a,#1e293b,#020617);
background-size:400% 400%;
animation:gradientMove 18s ease infinite;
}

/* GRADIENT ANIMATION */
@keyframes gradientMove{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}


/* ===== PARTICLE CANVAS ===== */

#particles{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}


/* ===== NAVBAR ===== */

nav{
background:#020617cc;
backdrop-filter:blur(6px);
padding:15px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,.5);
position:sticky;
top:0;
z-index:999;
}

nav a{
color:white;
margin:0 15px;
text-decoration:none;
font-weight:bold;
transition:.3s;
}

nav a:hover{
color:#38bdf8;
}


/* ===== HERO ===== */

.hero{
height:100vh;
background:url("bg1.jpg") center/cover fixed;
display:flex;
align-items:center;
justify-content:center;
}

.hero-content{
background:rgba(0,0,0,0.55);
padding:45px;
border-radius:18px;
backdrop-filter:blur(8px);
text-align:center;
box-shadow:0 20px 60px rgba(0,0,0,.6);
max-width:750px;
}

.profile{
width:150px;
border-radius:50%;
border:4px solid white;
margin-bottom:15px;
}

.summary{
max-width:600px;
margin:auto;
line-height:1.6;
margin-top:15px;
}


/* ===== BUTTON ===== */

.btn{
display:inline-block;
margin-top:20px;
background:#2563eb;
padding:12px 22px;
color:white;
text-decoration:none;
border-radius:8px;
transition:.3s;
}

.btn:hover{
background:#1d4ed8;
}


/* ===== PANEL ===== */

.panel{
padding:80px 12%;
}


/* ===== HIGHLIGHT ===== */

.highlight{
background:#1e293b;
padding:20px;
margin:20px 0;
border-radius:12px;
transition:.4s;
box-shadow:0 10px 25px rgba(0,0,0,.4);
}

.highlight:hover{
transform:scale(1.05);
background:#334155;
}


/* ===== TIMELINE ===== */

.timeline{
position:relative;
margin-left:20px;
}

.timeline::before{
content:"";
position:absolute;
left:-12px;
top:0;
width:4px;
height:100%;
background:#2563eb;
}

.exp-card{
background:#1e293b;
padding:20px;
margin:30px 0;
border-radius:12px;
position:relative;
transition:.4s;
box-shadow:0 10px 30px rgba(0,0,0,.5);
}

.exp-card::before{
content:"";
position:absolute;
left:-28px;
top:20px;
width:14px;
height:14px;
background:#38bdf8;
border-radius:50%;
}

.exp-card:hover{
transform:translateX(10px) scale(1.02);
background:#334155;
}


/* ===== CERT GRID ===== */

.cert-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
}

.cert-card{
background:rgba(255,255,255,.05);
border:1px solid rgba(255,255,255,.15);
padding:25px;
border-radius:16px;
backdrop-filter:blur(10px);
transition:.4s;
text-decoration:none;
color:white;
box-shadow:0 15px 40px rgba(0,0,0,.4);
}

.cert-card:hover{
transform:translateY(-10px) scale(1.05);
background:#2563eb;
}

footer{
text-align:center;
padding:40px;
opacity:.8;
}
