body{
margin:0;
font-family:Segoe UI, sans-serif;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:#020617;
position:sticky;
top:0;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.hero{
text-align:center;
padding:60px 20px;
background:linear-gradient(120deg,#1e293b,#0f172a);
}

.profile{
width:140px;
height:140px;
border-radius:50%;
border:4px solid white;
}

.small{
opacity:.7;
font-size:14px;
}

.card{
max-width:900px;
margin:30px auto;
background:#1e293b;
padding:25px;
border-radius:12px;
}

.container{
max-width:1000px;
margin:auto;
padding:20px;
}

.timeline .item{
background:#1e293b;
margin:15px 0;
padding:18px;
border-radius:10px;
}

.cert-grid{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.cert{
background:#1e293b;
padding:20px;
border-radius:10px;
text-decoration:none;
color:white;
}

footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:40px;
}

@media(max-width:700px){
nav{
flex-direction:column;
align-items:center;
}
.cert-grid{
flex-direction:column;
}
}
