*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Segoe UI, sans-serif;
background:linear-gradient(120deg,#0f172a,#1e293b);
color:white;
}

/* NAV */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:14px 40px;
background:#020617;
position:sticky;
top:0;
z-index:999;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:500;
}

/* HERO */

.hero{
max-width:900px;
margin:40px auto 10px auto;
text-align:center;
padding:10px;
}

.profile{
width:180px;
border-radius:50%;
border:5px solid white;
margin-bottom:10px;
}

h1{
margin:5px 0;
font-size:32px;
}

.small{
opacity:.7;
}

/* CARD */

.card{
max-width:900px;
margin:20px auto;
background:#1e293b;
padding:25px;
border-radius:14px;
box-shadow:0 10px 25px rgba(0,0,0,.4);
}

/* CONTAINER */

.container{
max-width:1000px;
margin:30px auto;
padding:0 20px;
}

/* TIMELINE */

.timeline .item{
background:#1e293b;
padding:20px;
margin-bottom:18px;
border-radius:12px;
box-shadow:0 8px 18px rgba(0,0,0,.35);
}

/* CERT GRID */

.cert-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:20px;
}

.cert{
display:flex;
align-items:center;
justify-content:center;
height:120px;
background:#1e293b;
border-radius:12px;
text-decoration:none;
color:white;
font-weight:600;
box-shadow:0 6px 14px rgba(0,0,0,.4);
transition:.2s;
}

.cert:hover{
transform:translateY(-4px);
background:#334155;
}

/* FOOTER */

footer{
text-align:center;
padding:18px;
margin-top:40px;
background:#020617;
}

/* MOBILE */

@media(max-width:700px){

nav{
flex-direction:column;
gap:10px;
}

.profile{
width:130px;
}

h1{
font-size:24px;
}

}
